@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.username {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	cursor: pointer;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

#icon {
	width: 4em;
	height: 4em;
}

#icon:hover {
	cursor: pointer;
}

.like-button:hover {
	cursor: pointer;
}

header {
  background: #125688;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
  margin-left: 2em;
}

.heart {
	width: 0.2em;
	height: 0.2em;
}

.container img {
	width: 80%;
	height: auto;
}



a {
	color: white;
}

a:hover {
	color: white;
}

#logo {
	font-family: 'Kaushan Script', cursive;
  margin: 0;
  margin-bottom: 0.4em;
  color: white;
  text-align: center;
  cursor: pointer;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}



#navtools {
	margin-bottom: 10px;
	background-color: #252a2c;
	color: white;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.userpage {
	display: inline-block;
}

.home {
	display: inline-block;
}


.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

#submit {
	margin-top: -0.8em;
}

.new-pic {
	display: inline-block;
	margin-left: 3em;
}

h1 {
	font-size: 7em;
}


li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  text-align: center;
  
}


header .hide-completed {
  float: right;
}

@media screen and (max-width: 767px) { 
	h1 {
		font-size: 4em;
	}
}



@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-pic input {
    padding-bottom: 5px;
  }
}